* {
	box-sizing: border-box;
	font-family: 'Dosis';
}

body {
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #999;
}

#banner {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 450px;
}

#content {
	position: absolute;
	top: 500px;
	width: 1640px;
	height: 470px;
	margin: 30px 140px;
}

.content-container-left {
	float: left;
	width: 320px;
	height: 470px;
	margin-right: 40px;
}

.content-container-left img {
	width: 320px;
	height: 270px;
}

.content-container-right {
	float: right;
	width: 320px;
	height: 470px;
	margin-left: 40px;
}

.content-container-right img {
	width: 320px;
	height: 270px;
}

.text-container {
	position: relative;
	width: 320px;
	height: 200px;
	margin: 0;
	padding: 0;
}

.text-container h3 {
	margin-top: 0;
	padding-top: 20px;
	font-size: 28px;
	text-align: center;
}

.text-container p {
	text-align: center;
}

.text-container a {
	text-decoration: none;
	color: #69D4E8;
}

.text-container a:hover {
	color: #0057E8;
}



footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #999;
}